@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-50 text-neutral-900;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-400 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500;
}
